.modal-form {
    display: flex;
    flex-direction: column;
  }
  .form-input-field {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  
  transition: border-color 250ms var(--time-function);
  }
  .form-input-field:focus {
    outline: none;
    border-color: var(--accent-color);
  }
  .form-input-field:focus + .form-icon {
    fill: var(--accent-color);
  }
  .form-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  }
  .send-btn {
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--second-color);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.15;
  letter-spacing: 0.06em;
  margin: 0 auto;
  
  transition: all 250ms var(--time-function);
  }
  .form-label {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 10px;
  }
  .form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
    
  transform: translateY(-50%);
  transition: fill 250ms var(--time-function);
  }
  .form-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
  }
  .modal-form-message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  margin-top: 4px;
  margin-bottom: 20px;
  }
  .text-label {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  }
  .modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
  }
  .modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
  
  transition: border-color 250ms var(--time-function);
  }
  .policy-form-text::before {
    content: '';
    display:inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid #000;
    border-radius: 2px;
    margin-right: 8px;
  
  }
  .policy-form-inp:checked + .policy-form-text::before {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    background-image:url("../sprite/check.svg");
  }
  .policy-link {
    color: #2196F3;
    text-decoration: underline;
    text-decoration-color: #2196F3;
    text-decoration-skip-ink: none;
  }
  .policy-form-text {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
    color: #757575;
    }
    .form-input {
    width: 358px;
    height: 50px;
    padding:15px 16px;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    background: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    }
    .send-button {
    width: 200px;
    height: 50px;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    display: flex;
    text-align: center;
    align-items: center;
    letter-spacing: 0.06em;
    color:var(--second-color);
    border: none;
    cursor: pointer;
    margin-left: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 29px;
    padding-right: 28px;
  
    transition: all 250ms var(--time-function);
    }
    .mailing-icon {
    fill: var(--second-color);
    width: 18px;
    height: 18px;
    margin-left: 10px;
    }