:root {
  --accent-color: #2196f3;
  --second-color: #ffffff;
  --text-color: #757575;
  --title-color: #212121;
  --background-color: #2f303a;
  --second-background: #f5f4fa;
  --icon-color: #afb1b8;
  --main-font: "Roboto", sans-serif;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
}
